body, html {
  margin: 0;
  padding: 0; 
  background-color:#e4f4e3;
}

.froggers {
background-color: #00A651;
color: black;
border: solid black;
margin: -10px;
padding: 6px;
justify-content:space-around;
display:flex;
}

.nav {
background-color: white;
border: 2px solid black;
border-radius: 15px;
padding: 5px;
margin-left:10px;
margin-right:10px;
margin-top:13px;
margin-bottom:5px;
width: 250px;
height: 40px;
display:flex;
justify-content: center;
align-items: center;
}
.nav a {
      text-decoration: none;
      color: black;
      font-weight: bold;
    }

.nav2 {
background-color: white;
border: 2px solid black;
border-radius: 50%;
width: 53.5px;
height: 53.5px;
display: flex;
justify-content: center;
align-items: center;
margin-top: 10px;
margin-left: 10px;
margin-right: 10px;
transition: 0.3s;
}

    .nav2 a {
      text-decoration: none;
      color: black;
      font-weight: bold;
    }

  .cart-btn {
    text-decoration: none;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    padding: 2px 2px;
    margin-top:10px;
    font-weight: bold;
    font-size:20px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    z-index: 1;
    top: 60px;
    left: 4.25%;
    
  }

.dropdown-content a {
    display: block;
    padding: 10px;
    text-align: center;
    color: black;
    background-color: white;
    border-bottom: 1px solid #ccc;
  }

  .dropdown-content a:hover {
    background-color: #f2f2f2;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .cart:hover {
    background-color: #f2f2f2;
  }


.categories{
padding: 5px;
width: 1500px;
height: 100px;
display:flex;
justify-content: center;
align-items: center;
gap: 115px;
}
.categories a {
      text-decoration: none;
      color: black;
      font-weight: bold;
}

.catenav {
background-color: white;
border: 2px solid black;
border-radius: 15px;
padding: 5px;
width: 207.5px;
height: 50px;
display:flex;
justify-content: center;
align-items: center;
}

  .product-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px,auto));
      gap: 50px;
      justify-items: center;
      justify-content: center;
      margin-bottom: 25px;
    }

    .product {
      background-color: rgb(197, 232, 200);
      border: 1px solid #ccc;
      padding: 10px;
      width: 200px;
      border-radius: 5px;
    }

    .product img {
      width: 100%;
      height: 200px;
      object-fit: contain;
      background-color: #f0f0f0;
    }

    .product-name {
      font-weight: bold;
      margin-top: 10px;
    }

    .price {
      margin-top: 5px;
      font-weight: bold;
      color: #333;
    }
