body, html {
  margin: 0;
  padding: 0; 
  background-color:#f5f5f0;
}

.froggers {
background-color: #00A651;
color: black;
border: solid black;
margin: -10px;
padding: 6px;
justify-content:space-around;
display:flex;
}

.nav {
background-color: white;
border: 2px solid black;
border-radius: 15px;
padding: 5px;
margin-left:10px;
margin-right:10px;
margin-top:13px;
margin-bottom:5px;
width: 250px;
height: 40px;
display:flex;
justify-content: center;
align-items: center;
}

  .cart-btn {
    text-decoration: none;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    padding: 2px 2px;
    margin-top:10px;
    font-weight: bold;
    font-size:20px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 1;
    top: 60px;
    left: 4.25%;
  }

  .dropdown-content a {
    display: block;
    padding: 10px;
    text-align: center;
    color: black;
    background-color: white;
    border-bottom: 1px solid #ccc;
  }

  .dropdown-content a:hover {
    background-color: #f2f2f2;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .cart:hover {
    background-color: #f2f2f2;
  }

  .order-summary {
    margin: 40px auto;
    width: 80%;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  h2 {
    text-align: center;
    background-color: #e6e6e6;
    border-radius: 15px;
    width: 200px;
    margin: 10px auto;
    padding: 8px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
  }

  table, th, td {
    border: 1px solid gray;
  }

  th, td {
    text-align: center;
    padding: 8px;
  }

  .info {
    padding: 10px 20px;
    line-height: 1.8;
  }

  .info p {
    margin: 0;
  }
